rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if true;
      allow write: if request.auth.uid == document;
      allow delete: if request.auth != null;
    }

    match /products/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /TaxName/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /Categories/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /MaterialLibrary/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /ExpenseCategory/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /Attendance/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /users/{parent}/CustomersVendors/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/CustomersVendors/{document} {
      allow read: if true;
    }


    match /users/{parent}/Project/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/Project/{document} {
      allow read: if true;
    }


    match /users/{parent}/Tasks/{document} {
      allow create: if request.auth != null;
      allow read: if resource.data.owner == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.owner == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.owner == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /{path=**}/Tasks/{document} {
      allow read: if resource.data.owner == /databases/$(database)/documents/users/$(request.auth.uid);
    }


    match /users/{parent}/ExpenseVsIncome/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/ExpenseVsIncome/{document} {
      allow read: if true;
    }


    match /users/{parent}/Invoices/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/Invoices/{document} {
      allow read: if true;
    }


    match /users/{parent}/Estimates/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/Estimates/{document} {
      allow read: if true;
    }


    match /users/{parent}/POs/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/POs/{document} {
      allow read: if true;
    }


    match /users/{parent}/MaterialLib/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/MaterialLib/{document} {
      allow read: if true;
    }


    match /Staff/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /dates/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{parent}/Purchaseorder/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/Purchaseorder/{document} {
      allow read: if true;
    }


    match /MarkedAttendance/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{parent}/ProjectStaff/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /users/{parent}/ProjectStaff1/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /users/{parent}/attednacenew/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /chats/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /chats/{parent}/chat_messages/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/chat_messages/{document} {
      allow read: if true;
    }

  }
}
